PORT=8080
BASE_URL=http://localhost:8080
POSTGRES_USER=gopaste_web
POSTGRES_PASSWORD=changeme
POSTGRES_DB=gopaste
DATABASE_URL=postgres://gopaste_web:changeme@localhost/gopaste?sslmode=disable # only needed for local development
REDIS_URL=redis://localhost:6379
