{{ define "main" }}
<form action="/paste" method="POST" style="height: 100%;">

    <textarea name="content" placeholder="type (or paste) something..." autofocus></textarea>

    <div id="top" class="controls">
        <div class="icon-row">
            <button type="submit" title="save (ctrl+s)">
                <img src="/static/icons/save.svg" alt="Save">
            </button>

            <button type="button" title="new (ctrl+n)" onclick="window.location.href='/'">
                <img src="/static/icons/plus.svg" alt="New">
            </button>

            <button type="button" title="help" onclick="window.location.href='/paste/help'">
                <img src="/static/icons/message-circle-question-mark.svg" alt="Help">
            </button>
        </div>

        <div class="expires">
            <label for="expires">expires:</label>
            <select name="expires" id="expires">
                <option value="1">one hour</option>
                <option value="24">one day</option>
                <option value="168">one week</option>
            </select>
        </div>

        <div>
            <input type="password" name="password" id="password" placeholder="password (optional)">
        </div>
    </div>

</form>

<script>
    document.addEventListener('keydown', (e) => {
        if (e.ctrlKey && e.key === 's') {
            e.preventDefault()
            document.querySelector('form').submit()
        }
        if (e.ctrlKey && e.key === 'n') {
            e.preventDefault()
            window.location.href = '/'
        }
    })
</script>
{{ end }}
