{{ define "main" }}

{{ if .Paste }}

<pre id="content"><code>{{ .Paste.Content }}</code></pre>

<div id="top" class="controls">
    <div class="icon-row">
        <button type="button" title="copy" id="copy-content">
            <img src="/static/icons/copy.svg" alt="Copy">
        </button>

        <button type="button" title="new (ctrl+n)" onclick="window.location.href='/'">
            <img src="/static/icons/plus.svg" alt="New">
        </button>

        <button type="button" title="help" onclick="window.location.href='/paste/help'">
            <img src="/static/icons/message-circle-question-mark.svg" alt="Help">
        </button>
    </div>

    <div>expires: {{ .Paste.Expires.Format "2 Jan 2006" }}</div>

    <div id="qrcode"></div>

    <div class="paste-url">{{ .FullURL }}</div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        // highlight code
        const block = document.querySelector('#content code')
        hljs.highlightElement(block)
        // generate qr code
        var qrcode = new QRCode(document.getElementById("qrcode"), {
            text: window.location.href,
            width: 124,
            height: 124
        })
    })

    document.addEventListener('keydown', (e) => {
        if (e.ctrlKey && e.key === 'n') {
            e.preventDefault()
            window.location.href = '/'
        }
    })
</script>

{{ else }}
<div class="lock">
    <form action="{{ .FullURL }}" method="POST">
        <img src="/static/icons/lock.svg" alt="Locked">
        {{ if .Error }}
            <p>{{ .Error }}</p>
        {{ end }}
        <input type="password" name="password" id="password" placeholder="password">
        <button type="submit">unlock</button>
    </form>
</div>

<style>
    .lock { height: 100%; display: flex; align-items: center; justify-content: center; }
    .lock form { display: flex; flex-direction: column; align-items: center; gap: 12px; }
    .lock img { width: 32px; height: 32px; }
    @media (prefers-color-scheme: dark) { .lock img { filter: invert(1); } }
    .lock input, .lock button { font-size: 16px; padding: 10px 14px; }
</style>
{{ end }}

{{ end }}
